//Spaces desktop
$p-block-outer: 70px
$p-block-inner: 30px
$m-element-text: 25px
$m-element-item: 30px
$m-element-block: 40px

//Spaces tablet
$p-block-outer-tab: 60px
$p-block-inner-tab: 40px
$m-element-text-tab: 20px
$m-element-item-tab: 25px
$m-element-block-tab: 40px

//Spaces mobile
$p-block-outer-mob: 50px
$p-block-inner-mob: 40px
$m-element-text-mob: 15px
$m-element-item-mob: 20px
$m-element-block-mob: 40px

@mixin margins($type)
  @include media-breakpoint-down(sm)
    @if $type == b-outer
      padding: $p-block-outer-mob 0
    @else if $type == b-inner
      padding: $p-block-inner-mob
    @else if $type == e-text
      margin-top: $m-element-text-mob
    @else if $type == e-item
      margin-top: $m-element-item-mob
    @else if $type == e-block
      margin-top: $m-element-block-mob

  @include media-breakpoint-only(md)
    @if $type == b-outer
      padding: $p-block-outer-tab 0
    @else if $type == b-inner
      padding: $p-block-inner-tab
    @else if $type == e-text
      margin-top: $m-element-text-tab
    @else if $type == e-item
      margin-top: $m-element-item-tab
    @else if $type == e-block
      margin-top: $m-element-block-tab

  @include media-breakpoint-up(lg)
    @if $type == b-outer
      padding: $p-block-outer 0
    @else if $type == b-inner
      padding: $p-block-inner
    @else if $type == e-text
      margin-top: $m-element-text
    @else if $type == e-item
      margin-top: $m-element-item
    @else if $type == e-block
      margin-top: $m-element-block


@mixin icomoon-font()
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.light
  font-weight: 300

//Font sizes
@include media-breakpoint-down(sm)
  h1, .h1
    margin-bottom: 0
    font-size: $font-size-base * 1.25

  h2, .h2
    font-size: $font-size-base * 1.125
    line-height: 1.5
    margin-top: -10px
    margin-bottom: -10px

  h3, .h3
    margin-bottom: 0
    font-size: $font-size-base * 0.875

@include media-breakpoint-only(md)
  h1, .h1
    margin-bottom: 0
    font-size: $font-size-base * 2

  h2, .h2
    font-size: $font-size-base * 1.75
    margin-top: -10px
    margin-bottom: -10px

  h3, .h3
    margin-bottom: 0
    font-size: $font-size-base * 1.25


@include media-breakpoint-up(lg)
  h1, .h1
    font-size: $font-size-base * 2.125

  h2, .h2
    font-size: 4.375rem
    line-height: 1.5


  h3, .h3
    font-size: $font-size-base * 1.25

h1,h2,h3,h4,h5,h6
  margin-top: 0
  margin-bottom: 0

.e-text
  @include margins(e-text)
  margin-bottom: 0

.e-text-container p:not(:first-child)
  margin-bottom: 0
  @include margins(e-text)

.link
  color: $accent
  border-bottom: 1px solid transparent
  &:hover, &:active, &:visited, &:focus
    color: $accent

  &:hover
    text-decoration: none
    border-bottom-color: $accent

.graybox
  height: 100px
  width: 100px
  background-color: $bg-dark


body
  @include media-breakpoint-down(sm)
    font-size: $font-size-base * 0.875

//Page
html,
body
  height: 100%

.page
  display: flex
  flex-direction: column
  height: 100%
  &__main
    flex: 1 0 auto
  &__footer
    flex: 0 0 auto

//Button
.btn
  font-family: 'Capture it', sans-serif
  background-color: transparent
  border: none
  position: relative
  color: white
  display: inline-block
  &__label
    display: block
    color: inherit
    height: 100%
    width: 100%
    padding: 10px 25px
    position: relative
    z-index: 2
    @include media-breakpoint-down(sm)
      padding: 10px
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-repeat: no-repeat
    background-size: 100% 100%
    z-index: 1
    transition: all .1s

  &:hover
    text-decoration: none
    cursor: pointer
    color: white

    .btn__label
      color: inherit
      text-decoration: none


  &:visited, &:active, &:focus,
  a:visited, a:active, a:focus
    color: white
    outline: none


//Section
.section
  @include margins(b-inner)
  &__title
    text-align: center
    color: $headers

//Titles
.title_1
  font-family: Roboto, sans-serif
  font-weight: normal
  text-transform: uppercase
  color: $accent
  
  
//Bg boxes
.white-bg
  background-color: #fff
  padding: 50px





//Header
.header
  color: $text-lighter
  &__upper
    border-bottom: 1px solid #e3e3e3
    padding: 1rem 0
  &__upper-flex
    display: flex
    justify-content: space-between
    align-items: center


//Company-info
.company-info
  text-align: left
  &__item
    font-size: 0.875rem
    margin: 0
  &__separator
    display: inline-block
    font-size: 0.875rem
    margin: .5rem 0 .3rem
    border-bottom: 1px solid #e3e3e3
    width: 60%


//Company-links
.company-links
  text-align: right
  &__item
    font-size: 0.875rem
    margin: 0
  &__item-link
    transition: all .15s
    &, &:active, &:focus, &:visited, &:hover
      color: inherit
    &:hover
      color: $accent-lighter
  &__socials-line
    justify-content: flex-end


//Socials line
.socials-line
  display: flex
  &__item
    font-size: 1.5rem
    transition: all .15s
    &:not(:last-child)
      margin-right: 10px
    &:hover
      color: $accent-lighter

  &__item-link
    &, &:active, &:focus, &:visited
      color: inherit
    &:hover
      text-decoration: none



//Logo
.logo
  font-size: 100px
  svg
    display: block
    height: 1em
    width: 1.43em

//Menu
.menu-list
  list-style-type: none
  padding: 15px 0
  margin: 0
  font-size: 1rem
  text-align: center
  &__item
    display: inline-block
    color: $black
    padding: 0
    margin: 0
    &:not(:last-of-type)
      &:after
        content: '/'
        display: inline-block
        margin: 0 10px
        color: $text-lighter

  &__item.accent
    color: $accent-lighter
  &__item-link
    &, &:active, &:focus, &:visited
      color: inherit
      text-transform: uppercase


//Banners-slider
.banners-slider
  .slick-slider
    position: relative

  .slick-slide:focus
    outline: none

  .slick-dots
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    list-style-type: none
    font-size: 15px
    button
      display: none
    li
      width: 0.9em
      height: 0.9em
      border-radius: 50%
      background-color: $accent
      display: inline-block
      position: relative
      z-index: 2
      transition: all .2s
      &:not(:last-of-type)
        margin-right: 10px
      &.slick-active:before
        content: ''
        display: block
        position: absolute
        width: 1.4em
        height: 1.4em
        border-radius: 50%
        transform: translate(-0.25em, -0.25em)
        border: 1px solid $accent-lighter
      &:hover:not(.slick-active)
        cursor: pointer
        background-color: $accent-lighter

  &__item
    img
      max-width: 100%



//Decorated title
.decorated-title
  &:before, &:after
    content: ''
    display: inline-block
    padding: 0 10px
    @include icomoon-font
    font-size: 0.10em
    color: $accent
  &:after
    transform: rotate(180deg)

//What is section
.what-is
  background-image: url('public/img/bg_what_is.png')
  background-size: cover

//About us section
.about-us
  background-image: url('public/img/bg_about_us.png')
  background-size: cover
  padding-bottom: 70px
  &__subtitle
    font-size: 1.375rem
    margin-bottom: 10px
  &__content
    padding-left: 130px
    p:last-of-type
      margin-bottom: 0
  &__image-wrapper
    position: relative
    height: 100%
  &__image-container
    position: absolute
    left: 0
    top: 30px
    right: -130px
    bottom: 0
    z-index: 2
    img
      max-width: 100%

//Benefits
.benefits-section
  background-image: url('public/img/bg_benefits.png')

.benefits
  list-style-type: none
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  padding-left: 0
  margin: 30px -15px -30px
  counter-reset: my-awesome-counter
  &__item
    flex: 0 0 33%
    padding: 0 15px
    margin-bottom: 30px
    counter-increment: my-awesome-counter
    position: relative
    &:before
      content: "0" counter(my-awesome-counter)
      display: inline-block
      font-family: "Playfair Display", Georgia, "Times New Roman", serif
      position: absolute
      color: lighten($accent, 30%)
      z-index: 1
      font-size: 4.375em
      top: 0
      left: 0
      transform: translate(-10%, -50%)

  &__item-title
    position: relative
    z-index: 2
    &:after
      content: ''
      display: block
      border-bottom: 1px solid $accent
      width: 30%
      margin-top: 10px

  &__item-content
    margin-top: 15px


//Footer
.footer
  background-color: $accent
  height: 200px



























