body {
    background-color: transparent;
    border: none
}

.modal {
    border: none;
    box-shadow: none
}

body.modal-open {
    overflow: hidden
}

.CompanyIndex .TitleCompanyName {
    display: none
}
.CompanyIndex .AboutCompanyButtonWrapper {
    display: none
}
.CompanyIndex #GoogleMapId {
    display: none
}
.CompanyIndex .Presentation {
    display: none
}
.CompanyIndex .Presentation ~ * {
    display: none
}
.CompanyIndex #hrAddress {
    display: none
}
.CompanyIndex #hrAddress ~ hr {
    display: none
}
.CompanyIndex .ContactsData {
    display: none
}
.СompanyMobile .PinToDeviceScreen {
    display: none
}
.СompanyMobile .page-box-content > .container > .row:first-child {
    display: none
}
.СompanyMobile .ShowAdditionalInfo {
    display: none
}